*  {
    margin: 0;
    padding: 0;
}

body {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    padding: 0;
}

form {
    margin: auto;
    width: 50%;
    padding: 20px;
}
h1 {
    text-align: center;
}
p {
    padding: 15px;
}
#button {
    width: 100px;
    color: white;
    background-color: black;
}
li{
    border: 0.5px solid black;
    width: 20%;
    margin: 5px auto;
    list-style: none;
}
button {
    width: 100%;
    color: white;
    background-color: black;
    margin: 0;
}
